#include <windows.h>
1 ICON "resources/app.ico"
101 RCDATA "resources/fonts/PT_Serif-Web-Regular.ttf"
102 RCDATA "resources/fonts/PT_Serif-Web-Bold.ttf"
103 RCDATA "resources/fonts/OFL.txt"
1 VERSIONINFO
FILEVERSION 0,1,1,0
PRODUCTVERSION 0,1,1,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "Sanctuary Timers\0"
   VALUE "ProductName", "Sanctuary Timers\0"
   VALUE "FileVersion", "0.1.1\0"
   VALUE "ProductVersion", "0.1.1\0"
   VALUE "OriginalFilename", "SanctuaryTimers.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
